@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes image-slide-animation {
  0% {
    transform: translateX(-100%);
  }
  15% {
    transform: translateX(0px);
  }
  85% {/** was 85% **/
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(100vw + 100%));
  }
}

.animate-image-loop-base {
  animation-name: image-slide-animation;
  animation-timing-function: ease-in-out; /* Makes the animation start and end smoothly */
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  position: absolute;
}

.animate-Image3-loop {
  animation: image-slide-animation 50s linear infinite forwards;
  position: absolute;
  animation-delay: 7s;
  left: 60px;
  top: 1px;
}

.animate-Image4-loop {
  animation: image-slide-animation 50s linear infinite forwards;
  position: absolute;
  animation-delay: 5s;
  left: 80px;
  top: 2px;
}

.animate-Image5-loop {
  animation: image-slide-animation 50s linear infinite forwards;
  position: absolute;
  animation-delay: 3s;
  left: 100px;
  top: 3px;
}

.animate-Image6-loop {
  animation: image-slide-animation 50s linear infinite forwards;
  position: absolute;
  animation-delay: 1s;
  left: 120px;
  top: 4px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background-color:rgb(243, 238, 238);
}

.View-tab {
  background-color:powderblue;
}